<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8"/>
    <title>星办公</title>
    <meta name="keywords" content=""/>
    <meta name="description" content=""/>
    <!-- Bootstrap -->
    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!-- WARNING: Respond.js doesn't work if you view the page via file:// -->
    <!--[if lt IE 9]>
    <script src="//cdn.bootcss.com/html5shiv/3.7.2/html5shiv.min.js"></script>
    <script src="//cdn.bootcss.com/respond.js/1.4.2/respond.min.js"></script>
    <![endif]-->
</head>
<body>
<div id="app"></div>
<script src="es5-shim.min.js"></script>
<script src="es5-sham.min.js"></script>
</body>

</html>
